*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    background-color: var(--cor-de-fundo-primaria);
}
.header-conteiner{
    height: 560px;
    padding: 100px 0px;
    background: url(../imagens/Header\ Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}






@media screen and (max-width:768px){
    a.btn{
        width: 100%;
        padding: 16px;
    }
    .box-img, .box-text{
        width: 100%;
    }
    h1, h2{
        text-align: left;
    }
    h3, h3.titulo-end{
        font-size: calc(1rem + 2vw);
        line-height: 1.5rem;
        margin-bottom: 10px;
        text-align: left;
    }
    p{
        text-align: left;
    }
    
    
}